h4 {
   justify-self: center;
}

ul {
   padding: 0;
   list-style: none;
   justify-self: center;
   display: grid;
   row-gap: 2em;
   height: fit-content;
}

li {
   padding: 1.3em;
   font-family: "Press Start 2P", system-ui;
   border: 6px solid;
   border-radius: 15px;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   column-gap: 1em;
   align-items: center;
}

p {
   margin: 0;
   font-family: Arial, sans-serif;
   text-align: center;
}

.btn,
button {
   border-radius: 15px;
   box-shadow: 3px 3px 0 black;
}

.btn:hover {
   transform: translate(-2px, -2px);
   box-shadow: 5px 5px 0 black;
   cursor: pointer;
}

.btn:active {
   transform: translate(2px, 2px);
   box-shadow: 2px 2px 0 black;
}

button:hover {
   transform: translate(-2px, -2px);
   box-shadow: 5px 5px 0 black;
   cursor: pointer;
}

button:active {
   transform: translate(2px, 2px);
   box-shadow: 2px 2px 0 black;
}

#friends {
   padding: 50px;
   max-width: 800px;
   height: fit-content;
   background-color: #f0f0f0;
   border: 6px solid var(--borders);
   border-radius: 17px;
   display: grid;
   grid-template-rows: 1fr 0.5fr 1f auto;
   row-gap: 2em;
}

#friend-header {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   align-items: center;
}

#friend-header p {
   justify-self: end;
}

#search {
   width: 35em;
   max-height: 3em;
   display: grid;
   grid-template-columns: 6fr 1fr;
}

#found-friends {
   display: grid;
}

#add-friend-btn {
   padding: 0.75em;
   font-size: 1em;
   font-weight: bold;
   background-color: #ffd700;
}

#back-btn {
   font-size: 1.1em;
   font-weight: bold;
   padding: 1em;
   width: fit-content;
   justify-self: center;
   background-color: #cc0000;
   color: white;
   text-shadow: 2px 2px 0 black;
}
