:root {
  --borders: rgb(251, 209, 38);
}

/* Styling for Login and Register page */
body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  background-image: url("./assets/background.png");
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.registerCard,
.loginCard {
  width: min(340px, 100%);
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 1.5rem;
  background-color: white;
  align-items: center;
  border-radius: 17px;
  border: 6px solid rgb(251, 209, 38);
}

#pokeLogo {
  width: 150px;
  height: auto;
  filter: drop-shadow(0 4px 8px rgba(72, 72, 72, 0.25));
  transition: transform 0.3s ease;
}

#register-header,
#login-header {
  margin: 0;
  background: linear-gradient(to right, #ff2d2d, #7c2ae8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 + p {
  color: rgb(93, 92, 92);
  font-weight: bolder;
  margin-top: 0;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 1rem;
}

label {
  display: flex;
  flex-direction: column;
  margin: 0.5ch 0;
  color: rgb(93, 92, 92);
  font-weight: bolder;
  gap: 5px;
}

input {
  width: 100%;
  padding: 0.75rem;
  padding-left: 1vh;
  font-size: 1rem;
  border-radius: 11px;
  border: 1px solid rgb(168, 166, 166);
  box-sizing: border-box;
}

#registerBtn,
#loginBtn {
  background-color: rgb(249, 30, 30);
  border-radius: 11px;
  border-style: solid;
  border-color: rgb(249, 30, 30);
  padding: 1.25vh;
  cursor: pointer;
  color: white;
  font-size: 1rem;
  box-sizing: border-box;
  filter: drop-shadow(0 4px 8px rgba(72, 72, 72, 0.25));
  transition: transform 0.3s ease;
}

form + p {
  color: rgb(93, 92, 92);
}

#error-msg {
  color: rgb(249, 30, 30);
}

a {
  text-decoration: none;
  color: rgb(15, 15, 250);
}

/* GameBoard Component Styling */

#game-board {
  margin: 0;
  padding: 50px;
  max-width: 800px;
  display: grid;
  background-color: white;
  border: 6px solid var(--borders);
  border-radius: 17px;
  justify-content: center;
  text-align: center;
  row-gap: 15px;
}

#game-board img {
  height: 9em;
  justify-self: center;
  align-self: center;
}

#poke-image {
  display: grid;
  height: 20em;
  width: 30em;
  justify-self: center;
  border: solid;
  border-radius: 17px;
  background: #c8e6f0;
}

#game-board p {
  padding: 15px;
  font-size: 0.8em;
  font-family: "Press Start 2P", system-ui;
  line-height: 2em;
  border: solid;
  border-radius: 17px;
  box-shadow: 3px 3px 0 black;
}

#game-board ul {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 3em;
  list-style: none;
}

#game-board li {
  padding: 30px 50px;
  font-family: "Press Start 2P", system-ui;
  font-size: 0.8em;
  background-color: #FFD700;
  width: 8em;
  justify-self: center;
  border: solid black;
  border-radius: 17px;
  box-shadow: 3px 3px 0 black;
}

#game-board li:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.5em;
  transform: translate(-2px, -2px);
  box-shadow: 5px 5px 0 black;
  cursor: pointer;
}

#game-board li:active {
  transform: translate(2px, 2px);
  box-shadow: 2px 2px 0 black;
}

#question-score {
  background-color: #CC0000;
  color: #FFD700;
  display: grid;
  grid-template-columns: 4fr 1fr;
  column-gap: 2em;
  font-size: 1em;
  border: solid black;
  border-radius: 17px;
  box-shadow: 3px 3px 0 black;
}

#question-score p {
  border: none;
  box-shadow: none;
}
