:root {
  --borders: rgb(251, 209, 38);
}

/* Styling for Register page */
body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  background-image: url("./assets/background.png");
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.registerCard {
  width: min(340px, 90%);
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 1.5rem;
  background-color: white;
  align-items: center;
  border-radius: 17px;
  border: 6px solid rgb(251, 209, 38);
}

#pokeLogo {
  width: 150px;
  height: auto;
  filter: drop-shadow(0 4px 8px rgba(72, 72, 72, 0.25));
  transition: transform 0.3s ease;
}

#register-header {
  margin: 0;
  background: linear-gradient(to right, #ff2d2d, #7c2ae8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 + p {
  color: rgb(93, 92, 92);
  font-weight: bolder;
  margin-top: 0;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 1rem;
}

label {
  display: flex;
  flex-direction: column;
  margin: 0.5ch 0;
  color: rgb(93, 92, 92);
  font-weight: bolder;
  gap: 5px;
}

input {
  width: 100%;
  padding: 0.75rem;
  padding-left: 1vh;
  font-size: 1rem;
  border-radius: 11px;
  border: 1px solid rgb(168, 166, 166);
  box-sizing: border-box;
}

#registerBtn {
  background-color: rgb(249, 30, 30);
  border-radius: 11px;
  border-style: solid;
  border-color: rgb(249, 30, 30);
  padding: 1.25vh;
  cursor: pointer;
  color: white;
  font-size: 1rem;
  box-sizing: border-box;
  filter: drop-shadow(0 4px 8px rgba(72, 72, 72, 0.25));
  transition: transform 0.3s ease;
}

form + p {
  color: rgb(93, 92, 92);
}

#error-msg {
  color: rgb(249, 30, 30);
}

/* GameBoard Component Styling */

#game-board {
  margin: 0;
  padding: 50px;
  max-width: 800px;
  display: grid;
  background-color: white;
  border: 6px solid var(--borders);
  border-radius: 17px;
  justify-content: center;
  text-align: center;
  row-gap: 15px;
}

#game-board img {
  height: 20em;
  justify-self: center;
}

#game-board p {
  padding: 15px;
  font-size: 2em;
  font-family: "Press Start 2P", system-ui;
  line-height: 2em;
  border: 6px solid;
  border-radius: 17px;
}

#game-board ul {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 4em;
  list-style: none;
}

#game-board li {
  padding: 50px 70px;
  
  font-family: "Press Start 2P", system-ui;
  font-size: 1.5em;
  
  width: 6em;
  justify-self: center;
  border: 6px solid black;
  border-radius: 17px;
}

#game-board li:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.5em;
  cursor: pointer;
}