#categories-section {
   display: grid;
   padding: 5em;
   width: 30em;
   height: 20em;
   align-self: center;
   justify-self: center;
   background-color: #f0f0f0;
   border: 6px solid rgb(251, 209, 38);
   border-radius: 17px;
   box-shadow: 5px 5px 10px black;
   grid-template-columns: repeat(2, max-content);
   column-gap: 2em;
   align-items: center;
   justify-content: center;
}

.cat-btn {
   padding: 1.5em;
   font-size: 1.5em;
   font-weight: bold;
   background-color: #ffd700;
   border: solid black;
   border-radius: 15px;
   box-shadow: 3px 3px 0 black;
}

.cat-btn:hover {
   transform: translate(-2px, -2px);
   box-shadow: 5px 5px 0 black;
   cursor: pointer;
}

.cat-btn:active {
   transform: translate(2px, 2px);
   box-shadow: 2px 2px 0 black;
}